@font-face {
	font-family: SourceSansRegular;
	src:url(../fonts/SourceSansPro/SourceSansPro-Regular.otf); 
	}
@font-face {
	font-family: SourceSansLightIt;
	src:url(../fonts/SourceSansPro/SourceSansPro-LightIt.otf); 
	}
@font-face {
	font-family: SourceSansLight;
	src:url(../fonts/SourceSansPro/SourceSansPro-Light.otf); 
	}
@font-face {
	font-family: SourceSansBold;
	src:url(../fonts/SourceSansPro/SourceSansPro-Bold.otf); 
	}

*{
	font-family: SourceSansRegular;
	}
.transition-25{
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.font-color{
	color: #fc645f;
	}
.icon-bar{
	border-bottom: 1px solid #000;
	}
.batton{
	border: 2px solid #fc645f;
	background: none;
	color: #fc645f;
	font-family: SourceSansLight;
	}
	.batton:hover{
		border: 2px solid #fc645f;
		background: #fc645f;
		color: #fff;
		}
.batton-2{
	border: 2px solid #fc645f;
	background: #fc645f;
	color: #fff;
	font-family: SourceSansLight;
	padding-left: 20px;
	padding-right: 20px;
	}
	.batton-2:hover{
		border: 2px solid #fc645f;
		background: none;
		color: #fc645f;
		}

.header-block{
	color: #fff;
	background-image : url('../images/head-bg.png');
	background-size: cover;
	}
	.navbar-right a{
		color: #fff;
		text-transform: uppercase;
		border-bottom: 3px solid transparent;
		padding: 0 !important;
		margin: 40px 20px !important;
		display: inline-block !important;
		}
		.navbar-right a:hover{
			color: #fc645f;
			background: transparent !important;
			border-bottom: 3px solid #fc645f;
			}
		.navbar-header{
			padding-top: 10px;
			}
			.navbar-header .sep{
				display: inline-block;
				width: 15px;
				}
			.navbar-header a{
				font-family: SourceSansLight;
				color: #fff;
				cursor: pointer;
				padding-top: 25px !important;
				}
				.navbar-header a:hover{	
					color: #fc645f;
					}
				.nav a{
					font-family: SourceSansLight;
					}	
			.header-content{
				padding-top: 100px;
				position: relative;
				}
				.header-content h1{
					font-size: 40px;
					text-transform: uppercase;
					font-family: SourceSansBold;
					}
					.header-content h1 span{
						font-family: SourceSansBold;
						}
				.header-content p{
					font-size: 20px;
					font-family: SourceSansLight;
					}
				.header-content a{
					border: 2px solid #fc645f;
					background: none;
					color: #fc645f;
					margin-bottom: 200px;
					font-family: SourceSansLight;
					}
					.header-content a:hover{
						border: 2px solid #fc645f;
						background: #fc645f;
						color: #fff;
						}
				.mouse{
					width: 60px;
					height: 280px;
					position: absolute;
					top: 280px;
					left: calc(50% + 150px);
					border-right: 1px dashed #7d7d7d;
					border-top: 1px dashed #7d7d7d;
					border-radius: 0 20px 0 0;
					}
				.down-move{
					background: #fc645f;
					height: 30px;
					width: 30px;
					border-radius: 50%;
					margin: 0 50% 30px 50%;
					font-size: 20px;
					border: 2px solid #fc645f;
					text-align: center;
					}
					.down-move:hover, .down-move:hover a{
						background: none;
						color: #fc645f;
						}
					.down-move a{
						color: #fff;
						border: none;
						margin: 0;
						padding: 0;
						background: none !important;
						display: block;
						}
						.down-move a:hover{
							border: none;
							}
	#section-2, #section-2 .caption{
		color: #868686;
		padding-top: 50px;
		}
		#section-2 .header{
			font-size: 28px;
			text-transform: uppercase;
			font-family: SourceSansBold;
			border-bottom: 1px solid #868686;

			}
			#section-2 .header span{
				font-family: SourceSansBold;
				}
		#section-2 .thumbnail{
			text-align: center;
			border: none;			
			font-family: SourceSansRegular;
			}
			#section-2 .header-description{
				font-family: SourceSansLight;
				font-size: 20px;
				margin-bottom: 70px;
				}
			#section-2 .thumbnail .caption h3{
				padding-top: 160px;
				text-transform: uppercase;
				}
			#section-2 .thumbnail .caption p{
				font-family: SourceSansLight;
				font-size: 15px;
				}
			#section-2 .thumbnail .caption .sub-h3{
				width: 60px;
				margin: -5px auto 15px auto;
				border-bottom: 1px solid #868686;
				}
			.thumbnail-border{
				width: 170px !important; 
				height: 200px !important;
				margin-left: calc(50% - 85px) !important;
				cursor: pointer;
				}
				.thumbnail-border > div > div{
					background-color: #fe8682;
					color: #0c252d;
					text-align: center;
					font-size: 2em; 
					line-height: 68px;
					}
					.thumbnail-border > div > div:hover{
						background-color: #fc635e;
						}
						.thumbnail-border > div > div:hover .thumbnail-hexagon > div > div{
							background-color: #fff;
							}
				.thumbnail-hexagon{
					width: 150px !important; 
					height: 200px !important;
					margin-left: calc(50% - 75px) !important;
					}
					.thumbnail-hexagon > div > div{
						background-color: #fc645f;
						color: #0c252d;
						text-align: center; 
						font-size: 2em; 
						line-height: 68px;
						background-position: center !important;
						background-repeat: no-repeat !important;
						background-size: 70% !important;
						}
		.hexagon-s-2-1 > div > div > div > div > div{
			background-image: url('../images/section_2_1.png') !important;
			}
			.hexagon-s-2-1:hover > div > div > div > div > div{
				background-image: url('../images/section_2_1_active.png') !important;
				}
		.hexagon-s-2-2 > div > div > div > div > div{
			background-image: url('../images/section_2_2.png') !important;
			}
			.hexagon-s-2-2:hover > div > div > div > div > div{
				background-image: url('../images/section_2_2_active.png') !important;
				}
		.hexagon-s-2-3 > div > div > div > div > div{
			background-image: url('../images/section_2_3.png') !important;
			}
			.hexagon-s-2-3:hover > div > div > div > div > div{
				background-image: url('../images/section_2_3_active.png') !important;
				}
		.hexagon-s-2-4 > div > div > div > div > div{
			background-image: url('../images/section_2_4.png') !important;
			}
			.hexagon-s-2-4:hover > div > div > div > div > div{
				background-image: url('../images/section_2_4_active.png') !important;
				}
	.down-move-neg{
		height: 30px;
		width: 30px;
		border-radius: 50%;
		margin: 0 calc(50% - 15px) 30px calc(50% - 15px);
		font-size: 20px;
		border: 2px solid #fc645f;
		color: #fc645f;
		text-align: center;
		}
		.down-move-neg:hover, .down-move-neg:hover a{
			background: #fc645f;
			color: #fff;
			}
			.down-move-neg a{
				color: #fc645f;
				border: none;
				margin: 0;
				padding: 0;
				background: none !important;
				display: block;
				}
				.down-move-neg a:hover{
					border: none;
					}
	.section-3{
		background-image: url('../images/bg-section_3.png');
		background-size: cover;
		}
		.section-3-frame{
			margin: 90px 0 50px 0;
			padding: 110px 0 100px 0;
			text-align: center;
			border: 10px solid  rgba(255, 255, 255, 0.1);
			}
			.section-3-frame h1{
				font-size: 50px;
				text-transform: uppercase;
				font-family: SourceSansBold;
				color: #fff;
				margin-bottom: 30px;
				}
				.section-3-frame h1 span{
					font-family: SourceSansBold;
					}
	.style-what h3{
		padding: 0 12px 0 12px;
		text-transform: uppercase;
		font-size: 28px;
		font-family: SourceSansRegular;
		margin-top: 100px;
		color: #868686;
		}
	.style-what p{
		font-family: SourceSansLight;
		font-size: 15px;
		color: #9e9898;
		}
	.style-what .col-md-5 a{
		margin-top: 30px;
		}
	.style-what img{
		margin-top: 60px;
		width: 100%;
		}
	.style-what .down-move-neg{
		margin-top: 30px;
		}
	.style-what h1{
		color: #fc635e;
		font-size: 28px;
		text-transform: uppercase;
		margin-bottom: -20px;
		}
		.style-what h1 span{
			border-bottom: 1px solid #adadad;
			}
	.style-1{
		background: #f2f2f2;
		}
		.style-1 h3{
			border-left: 10px solid #fc635e;
			}
	.style-2{
		text-align: right;
		}
		.style-2 h3{
			border-right: 10px solid #fc635e;
			}
	.portfolio .header{
		font-size: 28px;
		text-transform: uppercase;
		font-family: SourceSansRegular;
		color: #868686;
		margin-top: 80px;
		}
		.portfolio .header span{
			border-bottom: 1px solid #868686;
			}
	.portfolio .filter-cat{
		font-family: SourceSansLight;
		font-size: 20px;
		text-transform: uppercase;
		border-top: 1px solid #868686;
		border-bottom: 1px solid #868686;
		padding: 15px;
		margin: 40px 0 45px 0;
		color: #fc635e;
		}
		.portfolio .filter-cat div{
			font-family: SourceSansLight;
			text-align: center;
			}
			.portfolio .filter-cat div span{
				cursor: pointer;
				}
		#Container .mix{
			display: none;
			}
	.portfolio{
		text-align: center;
		}
		.portfolio .row{
			position: relative;
			}
		.portfolio-item{
			background-size: cover !important;
			background-repeat: no-repeat !important;
			background-position: center;
			height: 200px;
			margin-bottom: 30px;
			}
			.portfolio-hover{
				position: relative;
				opacity: 0;
				padding: 10px;
				height: 100%;
				text-align: left;
				}
				.portfolio-hover a{
					text-decoration: none;
					}
					.portfolio-hover span{
						font-family: SourceSansBold;
						font-size: 28px;
						text-transform: uppercase;
						color: #fff;
						text-align: left;
						}
					.portfolio-hover i{
						position: absolute;
						left: 0;
						font-size: 30px;
						top: 0px;
						color: #fff;
						display: block;
						width: 100%;
						height: 100%;
						line-height: 200px;
						text-align: center;
						}
				.portfolio-item:hover .portfolio-hover{
					background: rgba(252, 99, 94, .75);
					opacity: 100;
					}
		.portfolio .batton-2{
			margin-top: 30px;
			}
		.portfolio .down-move-neg{
			margin-top: 30px;
			}
		.portfolio .mouse-blue{
			position: absolute;
			left: calc(50% + 140px);
			bottom: 17px;
			height: 79px;
			border-right: 1px dashed #065164;
			border-bottom: 1px dashed #065164;
			border-radius: 0 0 20px 0;
			}
			.portfolio .mouse-blue img{
				position: relative;
				left: -49px;
				top: calc(100% - 15px);
				}
	.team{
		background-image: url('../images/bg-section_team.png');
		text-align: center;
		background-size: cover;
		}
		.team h1 .span{
			font-size: 28px;
			text-transform: uppercase;
			border-bottom: 1px solid #868686;
			color: #565656;
			padding-bottom: 5px;
			}
		.team-item{
			margin-top: 75px;
			}
		.team .name{
			font-size: 28px;
			text-transform: capitalize;
			}
		.team .position{
			font-size: 20px;
			font-family: SourceSansLight;
			}
		.team .social a{
			border-radius: 50%;
			margin: 0 10px 0 10px;
			}
			.team .social a i{
				color: #fff;
				background: #565656;
				font-size: 20px;
				width: 30px;
				height: 30px;
				line-height: 30px;
				border-radius: 50%;
				}
				.team .social a i:hover{
					color: #fff;
					background: #fc645f;
					}
		
		.team .down-move-neg{
			margin-top: 70px;
			}

/***** Шистикутник *****/
.hexagon {
	width: 150px;
	height: 170px;
	overflow: hidden;
	visibility: hidden;
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	transform: rotate(120deg);
	display: inline-block;
	}
	.hexagon > div{
		overflow: hidden;
		width: 100%;
		height: 100%;
		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		transform: rotate(-60deg);
		}
		.hexagon > div > div{
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: 50%;
			visibility: visible;
			background-size: cover;
			background-repeat: no-repeat;
			-webkit-transform: rotate(-60deg);
			-moz-transform: rotate(-60deg);
			-ms-transform: rotate(-60deg);
			-o-transform: rotate(-60deg);
			transform: rotate(-60deg);
			}