.font-color{
	color: #fc645f;
	}
.icon-bar{
	border-bottom: 1px solid #000;
	}

.header-block{
	color: #fff;
	background-image : url('../images/head-bg.png');
	background-size: cover;
	}
	.navbar-right a{
		color: #fc645f;
		text-transform: uppercase;
		border-bottom: 3px solid transparent;
		padding: 0 !important;
		margin: 40px 20px !important;
		display: inline-block !important;
		}
		.navbar-right a:hover{
			background: transparent !important;
			border-bottom: 3px solid #fc645f;
			}
		.navbar-header{
			padding-top: 10px;
			}
			.navbar-header .sep{
				display: inline-block;
				width: 15px;
				}
			.navbar-header a{
				color: #fff;
				cursor: pointer;
				padding-top: 25px !important;
				}
				.navbar-header a:hover{	
					color: #fc645f;
					}
			.header-content{
				padding-top: 100px;
				}
				.header-content h1{
					font-size: 40px;
					text-transform: uppercase;
					font-weight: 600;
					}
				.header-content p{
					font-size: 20px;
					}
				.header-content a{
					border: 2px solid #fc645f;
					background: none;
					color: #fc645f;
					margin-bottom: 200px;
					}
					.header-content a:hover{
						border: 2px solid #fc645f;
						background: #fc645f;
						color: #fff;
						}

/***** Шистикутник *****/
.hexagon {
	width: 150px;
	height: 170px;
	overflow: hidden;
	visibility: hidden;
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	transform: rotate(120deg);
	display: inline-block;
		}
		.hexagon > div{
			overflow: hidden;
			width: 100%;
			height: 100%;
			-webkit-transform: rotate(-60deg);
			-moz-transform: rotate(-60deg);
			-ms-transform: rotate(-60deg);
			-o-transform: rotate(-60deg);
			transform: rotate(-60deg);
				}
				.hexagon > div > div{
					width: 100%;
					height: 100%;
					background-repeat: no-repeat;
					background-position: 50%;
					visibility: visible;
					background-size: cover;
					background-repeat: no-repeat;
					-webkit-transform: rotate(-60deg);
					-moz-transform: rotate(-60deg);
					-ms-transform: rotate(-60deg);
					-o-transform: rotate(-60deg);
					transform: rotate(-60deg);
					}